header.header
	h1(class="header__logo") Hudy.
	span(class="header__owner") Saifur rahman Tanvir
	p(class="header__description")
		| Welcome to hudy. ecommerce api. This api features authentication, authorization and CRUD operations on products, product details. This api is feature rich. Users/developers can build awesome ecommerce websites using this api. This api features stripe payment gateway. the following methods are available for you to build your next awesome
		| looking ecommerce website.